table,
tr {
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid salmon;
  width: 80%;
  margin: auto;
  margin-top: 4px;
}

th,
tr,
td {
  text-align: center;
}

tfoot {
  background-color: salmon;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

th {
  color: salmon;
}
